<div class="modal fade show d-block" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body text-center">
          <p>Are you sure?</p>
        </div>
  
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-danger" (click)="deleteY()">Delete</button>
          <button type="button" class="btn btn-secondary" (click)="cancel()">Cancel</button>
        </div>
  
      </div>
    </div>
  </div>
  